#intro {
    color: lch(20.69% 0.46 199.77);
}

.line_length {
    line-height: 200%;
}

.intro_font {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.2em; /* Default font size for smaller screens */
}

@media (min-width: 768px) {
  h4 {
    font-size: 1.5em; /* Larger font size for tablets and desktops */
  }
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.8em; /* Even larger font size for large displays */
  }
}

.intro_record {
    font-size: 1.2rem;
}

