/* For navigation links */
.navbar-nav .nav-link {
    font-family: "M PLUS 1p", sans-serif;
    font-size: 1.2rem;
    color: #000000;
    padding: 1.3rem 1rem;
}

/* For the nav background color */
.navbar-nav .nav-link:hover {
    background-color: #3c3b3b53;
}

/* For the brand/logo */
.navbar-brand {
    font-family: 'M PLUS 2p', sans-serif !important;
    font-size: 1.4rem;
}

.custom-navbar-bg {
    background-color: #ffffffd3;
    font-family: "M PLUS 1p", sans-serif;
}
